<h1><%=Order.model_name.human%> <%= @order.code%></h1>
<dl>
    <dt><%=Order.human_attribute_name('warehouse_id')%>:</dt>
    <dd><%=@order.warehouse.name%></dd>

    <dt><%=Order.human_attribute_name('supplier_id')%>:</dt>
    <dd><%=@order.supplier.corporate_name%></dd>

    <dt><%=Order.human_attribute_name('estimated_delivery_date')%>:</dt>
    <dd><%=I18n.localize(@order.estimated_delivery_date)%></dd>

    <dt><%=Order.human_attribute_name('status')%>:</dt>
    <dd><%=I18n.translate(@order.status)%></dd>

    <dt><%=Order.human_attribute_name('user_id')%>:</dt>
    <dd><%=@order.user.username%> < <%=@order.user.email%> ></dd>
</dl>
<h2>Itens do Pedido</h2>
<%=link_to 'Adicionar Item', new_order_order_item_path(order_id: @order.id)%>
<ul>
    <%@order.order_items.each do |item|%>
        <li><%=item.description%></li>
    <%end%>
</ul>

<%if @order.pending?%>
    <%= button_to 'Marcar como ENTREGUE', delivered_order_path(@order)%>
    <%= button_to 'Cancelar Pedido', canceled_order_path(@order)%>
<%end%>
<%= link_to 'Editar', edit_order_path(@order.id)%>