<h1><%=Order.model_name.human%> <%= @order.code%></h1>
<dl>
    <dt><%=Order.human_attribute_name('warehouse_id')%>:</dt>
    <dd><%=@order.warehouse.name%></dd>

    <dt><%=Order.human_attribute_name('supplier_id')%>:</dt>
    <dd><%=@order.supplier.corporate_name%></dd>

    <dt><%=Order.human_attribute_name('estimated_delivery_date')%>:</dt>
    <dd><%=I18n.localize(@order.estimated_delivery_date)%></dd>

    <dt><%=Order.human_attribute_name('user_id')%>:</dt>
    <dd><%=@order.user.username%> < <%=@order.user.email%> ></dd>
</dl>

<%= link_to 'Editar', edit_order_path(@order.id)%>